<p id="notice"><%= notice %></p>

<h2>フォロー情報</h2>
<%= render 'shared/stats' %>
<%= render 'follow_form' if user_signed_in? %>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Movie url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.posts.each do |post| %>
      <tr>
        <%= render partial: "posts/post", locals: { post: post } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
